h1{
	font-size:3.5vw;
	font-family: "Times New Roman", Times, serif;
	color:orange;
}

h2{
  font-weight: bold;
  color:chartreuse;
}

body{
	background-image: url(https://hdqwalls.com/download/abstract-blue-texture-5k-am-1336x768.jpg);
}
@keyframes example {
    0%   {background-color:tan; left:0px; top:0px;}
    50%  {background-color:black; left:200px; top:0px;}
    100% {background-color:tan; left:0px; top:0px;}
}
.Personal_Information{
	margin-top: 25px;
	color:#492a11;
	font-size:2.5vh;
	margin-left: 20px;
}

/* The element to apply the animation to */
.person {
	font-size: 2.5vw;
	padding-bottom: 100px;
	font-family: "Times New Roman", Times, serif;
	color:blue;
    width: 600px;
    height: 50px;
    position: relative;
    background-color: white;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.prf,.educ, .skill, .hob {
	font-size: 2.5vw;
	padding-bottom: 100px;
	font-family: "Times New Roman", Times, serif;
	color:blue;
    width: 250px;
    height: 8px;
    position: relative;
    background-color: white;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.container {
  position: relative;
  width: 50%;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: 75%;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /*background-color: #f2c915;*/
  background-image: url(https://images.all-free-download.com/images/graphicthumb/transparent_bubbles_with_background_vector_541557.jpg);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.profile {
  color: white;
  font-size: 1.3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify-all;
 font-family: "Times New Roman", Times, serif;
}

.skills {
   color: blue;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify-all;
  font-family: "Times New Roman", Times, serif;
}
/*for education portion*/

.education {
   color: #103e89;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
 font-family: "Times New Roman", Times, serif;
}


.hobbies {
  color: #171d28;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify-all;
  font-family: "Times New Roman", Times, serif;
}

.profile{
  color: black;
  flex: 1;
  font-size: 3.5vh;
  text-align: justify-all;
  line-height: 1.5;
  text-decoration: auto;
  transition: background .5s;
  &:hover, {
    background-size: 100% 100%;
  }
  &--thin {
    background-image: linear-gradient(to right, black 0, black 100%);
  }
 
  .card {
    box-shadow: 1 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family:"Times New Roman", Times, serif; ;
  }
  
  .title {
    color: rgb(201, 92, 28);
    font-size: 18px;
  }
  
  button {
    border:none  ;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(20, 7, 7);
    background-color: #000;
    text-align: justify;
    cursor: pointer;
    width: 100%;
    font-size: 22px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
